body {
  margin: 0;
  font-family: retro;
}
#eventButton {
  position: absolute;
  background-color: red;
  height: 6rem;
  width: 12rem;
  font-size: larger;
}
.outer-div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  color: white;
  display: inline-flex;
}

#no {
  padding: 0em 0.4em;
  color: #009999;
}

#se {
  padding: 0em 1em;
  color: #ecb920;
}

#dk {
  padding: 0em 0.4em;
  color: #f44336;
}

#fi {
  padding: 0em 0.4em;
  color: #d5d5d5;
}
@font-face{
  font-family: retro;
  src: url(Resource/FreeSansBold.otf);
}